.banner {
    display: flex;
    width: 100%;
    padding: 0 50px 50px 50px;
    background-color:#0e1012;
    gap: 20px;
    
    
}
 
.bannerOne {
    border: solid gray 1px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    width: 70%;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    height: 400px;
}
.bannerOne:hover {
    box-shadow: 0px 0px 20px rgba(91, 90, 90, 0.858);
}

.bannerOneWriteUp {
    width: 70%;
   
}

.bannerOneWriteUp h3 {
    font-size: 3.7em;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 60px 50px 0px 50px;
}

.bannerOneWriteUp p {
    font-size: 1.3em;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 20px 50px 50px 50px;
}
.bannerOneWriteUp button{
    background-color: #e7a626;
    padding: 20px;
    position: relative;
    bottom: 30px;
    left: 50px;
    font-family: "Open Sans";
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.bannerOneWriteUp button:hover{
    background-color: #e7a626;
    padding: 21px;
    position: relative;
    bottom: 30px;
    left: 50px;
    font-family: "Open Sans";
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(91, 90, 90, 0.858);
    transition: ease-in-out 0.3s;
}

.bannerImage {
    position: relative;
    width: 50%;
    height: 400px;
    
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    overflow: hidden;
}
.bannerTwo:hover{
    border: solid gray 1px;
}
.bannerImage Image {
    
    border-top-left-radius: 50px;
}

.bannerTwo {
    background-image: url("/prod1.png");
    background-repeat: no-repeat;
    background-size: 400px;
    width: 30%;
    height: 400px;
    transition: ease-in-out 0.3s;
    border-radius: 20px;
    display: flex;
    
     cursor: pointer;
    flex-direction: column;
    color: white;
    padding: 20px;
}
.bannerTwo h3{
    margin-top: 270px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.7em;
}
.bannerTwo p{
   
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    margin-top:10px ;
    margin-bottom: 20px;
    font-weight: 900;
    transition: ease-in-out 0.3s;
}
.bannerTwo p:hover{
   
     color: #e7a626;

}

@media screen and (max-width: 426px) {
    .banner {
        display: block;
        width: 100%;
        padding: 20px 10px 40px 10px;
        background-color:#0e1012;
        gap: 20px;
        
        
        
    }
    .bannerOne {
        border: solid gray 1px;
        overflow: hidden;
        border-radius: 20px;
        display: flex;
        width: 100%;
        cursor: pointer;
        transition: ease-in-out 0.3s;
    }
    .bannerOneWriteUp {
        width: 60%;
        padding-right: 20px;
       
    }
    
    .bannerOneWriteUp h3 {
        font-size: 2.8em;
        font-family: "Open Sans", sans-serif;
        color: white;
        padding: 100px 20px 50px 20px;
    }
    
    .bannerOneWriteUp p {
        font-size: 1.3em;
        font-family: "Open Sans", sans-serif;
        color: white;
        padding: 0px 20px 50px 20px;
    }
    .bannerOneWriteUp button{
        background-color: #e7a626;
        padding: 20px;
        position: relative;
        bottom: 30px;
        left: 20px;
        font-family: "Open Sans";
        font-size: 1.2em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .bannerImage {
        position: relative;
        width: 40%;
        height: 580px;
        
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        overflow: hidden;
    }
    .bannerTwo:hover{
        border: solid gray 1px;
    }
    .bannerImage Image {
        
        border-top-left-radius: 50px;
    }
    .bannerTwo {
        background-image: url("/prod1.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        transition: ease-in-out 0.3s;
        border-radius: 20px;
        display: flex;
        margin-top: 20px;
         cursor: pointer;
        flex-direction: column;
        color: white;
        padding: 20px;
    }
    .bannerTwo h3{
        margin-top: 420px;
        font-family: "Open Sans", sans-serif;
        font-size: 1.7em;
    }
    .bannerTwo p{
       
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        margin-top:10px ;
        margin-bottom: 20px;
        font-weight: 900;
        transition: ease-in-out 0.3s;
    }
    .bannerTwo p:hover{
       
         color: #e7a626;
    
    }
}