.header {
    display: flex;
    align-items: center;
 
    max-width: 100%;
    padding: 20px 50px; 
    background-color: #0e1012;
    gap: 20px; /* Adds spacing between elements */
}
.headerLogo{
    width: 10%;
    
}
.headerHamCategories{
    width: 10%;
  
   padding: 10px 30px 10px 0px;
    
}
.headerSearch{
    width: 70%;
    
}
.headerUsers{
    width: 10%;
    
}

.headerLogo,
.headerHamCategories,
.headerSearch
 {
    display: flex;
    align-items: center;
}


.headerUsers {
    display: flex;
    
    gap: 4px;

}


.headerItem {
    position: relative;
    display: inline-block;
}
.headerFavourite,.headerGift{
    cursor: pointer;
    padding: 10px;
}
.headerCart{
    cursor: pointer;
    padding: 10px;
    margin-top: 0px;
}
.headerFavourite:hover,.headerGift:hover,.headerCart:hover{
    cursor: pointer;
    background-color: #2c2a2a;
    border-radius: 50%;
}

.headerFavouriteHover,
.headerGiftHover,
.headerCartHover.headerDeleteCart {
    position: absolute;
    bottom: -30px; /* Adjust this value to control placement */
    left: 50%;
    transform: translateX(-50%);
    background-color:  #2c2a2a;;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Show hover text only when hovering over the corresponding icon */
.headerItem:hover .headerFavouriteHover,
.headerItem:hover .headerGiftHover,
.headerItem:hover .headerDeleteCart,
.headerItem:hover .headerCartHover {
    opacity: 1;
    visibility: visible;
}

.headerHamCategories {
    display: flex;
    align-items: center;
    gap: 5px;  
    
    height: 50px;
    
     
   
}
.headerHamCategories:hover {
      
    background-color: rgba(128, 128, 128, 0.361);
  
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;  
    
}
.headerHamburger{
    margin-top: 23px;
}

.headerCategories {
    color: white;
    font-family:   'Open Sans', sans-serif;
    font-size: 1em;
    
}
 
 
.headerSearch {
    display: flex;
    align-items: center;
}

.headerSearch input {
    padding: 15px;
    border-radius: 50px;
    border: solid rgba(255, 255, 255, 0.58) 2px;
    width: 100%;
    background-color:#0e1012;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out; 
    color: aliceblue; 
    
}

.headerSearch button {
    padding: 4px;
    border-radius: 50px;
    background-color: #e7a626;
    margin-left: -50px;
    border: none;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

 
.headerSearch input:hover + button {
    background-color: #b47a0587;  
    border-top-left-radius: 20px;
   
}
.searchResults{
    min-width: 40%;
    border: solid gray 1px;
    box-shadow: #808080 1px 2px 3px;
    border-radius: 10px;
    position: absolute;
      
    backdrop-filter: blur(5px);
    background: linear-gradient(150deg, rgba(0, 0, 0, 0.847) 0%, rgba(14, 14, 14, 0.888) 74%, rgba(212, 167, 190, 0.865) 100%);
    margin-left: 150px;
    top:110px;
    padding: 20px;
    z-index: 1000;
}
.searchResults ul li{
    list-style: none;
    color:rgb(255, 255, 255) ;
    letter-spacing: 0;
        font-family: "Guardian-EgypTT, Charter, Charter Bitstream, Cambria, Noto Serif Light, Droid Serif, Georgia, "serif"";
        font-size: 1em;
        font-weight: 300;
        line-height: 1.05;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
      
        transition: ease-out ;
}
.searchResults ul li:hover{
    list-style-type:none;
    border-radius: 20px;
   background-color: rgba(128, 128, 128, 0.361);
   text-decoration: underline;
   padding-left: 5px;
}

 
.categoryDropdown {
    max-width: 20%;
    border: solid gray 1px;
    box-shadow: #808080 1px 2px 3px;
    border-radius: 10px;
    position: absolute;
 
    
    backdrop-filter: blur(5px);
    background: linear-gradient(300deg, rgba(0, 0, 0, 0.274) 0%, rgba(14, 14, 14, 0.502) 74%, rgba(212, 167, 190, 0.753) 100%);
    margin-left: 150px;
    top:90px
}

.categoryDropdown::before {
    content: "";
    position: absolute;
    top: -20px; /* Adjust to control position */
    left: 25%;
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(115, 115, 115); /* Matches border color */
    
}

.categoryDropdown ul{
    padding: 30px;
}
.categoryDropdown ul li{
    list-style-type:none;
    padding: 10px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.categoryDropdown ul li:hover{
    list-style-type:none;
     border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.361);
    text-decoration: underline;
    
}
.items{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    color: rgb(171, 169, 169);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    background-color: #0e1012;
    padding-top: -20px;
    padding-bottom: 50px;
    padding-left: 150px;
   
    margin-top:-20px ;
}
.items p{
 cursor: pointer;
 
 padding: 10px;
}
.items p:hover{
background-color: #2c2a2a;
border-radius: 20px;
transition: all 0.3s ease-in-out;  
}

 .totalCarts{
  
   color: white;
    padding: 7px 10px 10px 10px;
    font-weight: 900;
    background-color: #e7a626;
    font-size: 1em;
    border-radius: 50%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    right:200px;
    width: 30px;
    height: 30px;
    text-align: center;
    left: 20px;
    top: -10px;
}
.deleteCart{
    position: absolute;
    left: -20px;
    top: 40px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}
.deleteCart:hover{
    background-color: #2c2a2a;
}
.mobile{
    display: none;
}






 
@media screen and (max-width: 1025px) {
     
    .mobile{
        display: none;
    }
   .header {
    display: flex;
    align-items: center;
 
    max-width: 100%;
    padding: 20px 50px; 
    background-color: #0e1012;
    gap: 20px; /* Adds spacing between elements */
}
    .headerLogo{
        width: 10%;
        
    }
    .headerHamCategories{
        width: 10%;
      margin-left: 30px;
       padding: 10px 130px 10px 0px;
        
    }
    .headerSearch{
        width: 52%;
        margin-left: 3px;
        
    }
    .headerSearch button {
        padding: 4px;
        border-radius: 50px;
        background-color: #e7a626;
        margin-left: -50px;
        border: none;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
    }
    .headerUsers{
        width: 10%;
        
    }
    .headerUsers {
        display: flex;
        
        gap: 0px;
    
    }
    
   
    .categoryDropdown {
        max-width: 100%;
        border: solid gray 1px;
        box-shadow: #808080 1px 2px 3px;
        border-radius: 10px;
        position: absolute;
     
        
        backdrop-filter: blur(5px);
        background: linear-gradient(300deg, rgba(0, 0, 0, 0.274) 0%, rgba(14, 14, 14, 0.502) 74%, rgba(212, 167, 190, 0.753) 100%);
        margin-left: 160px;
        top:90px
    }
    
    .categoryDropdown::before {
        content: "";
        position: absolute;
        top: -20px; /* Adjust to control position */
        left: 25%;
        transform: translateX(-50%);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid rgb(115, 115, 115); /* Matches border color */
        
    }
    
    .categoryDropdown ul{
        padding: 30px;
    }
    .categoryDropdown ul li{
        list-style-type:none;
        padding: 10px;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        color: white;
    }
    .searchResults{
        margin-left: -20px;
        width: 50%;
    }
    .totalCarts{
  
        color: white;
         padding: 4px 7px 7px 7px;
         font-weight: 900;
         background-color: #e7a626;
         font-size: .8em;
         border-radius: 50%;
         position: absolute;
         font-family: 'Times New Roman', Times, serif;
         right:200px;
         width: 20px;
         height: 23px;
         text-align: center;
         left: 20px;
         top: -10px;
     }
     .items{
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        color: rgb(171, 169, 169);
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        background-color: #0e1012;
        padding-top: -20px;
        padding-bottom: 50px;
        padding-left: 20px;
        
        margin-top:-10px ;
    }
    
}
@media screen and (max-width: 770px) {
     
    .mobile{
        display: none;
    }
    .header {
        display: flex;
        align-items: center;
     
        width: 100%;
        padding: 20px 30px; 
        background-color: #0e1012;
        gap: 0px; /* Adds spacing between elements */
    }
    .headerLogo{
        width: 10%;
        
    }
    .headerHamCategories{
        width: 10%;
      margin-left: 70px;
       padding: 10px 130px 10px 0px;
        
    }
    .headerSearch{
        width: 40%;
        margin-left: 10px;
        
    }
    .headerSearch button {
        padding: 4px;
        border-radius: 50px;
        background-color: #e7a626;
        margin-left: -50px;
        border: none;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
    }
    .headerUsers{
        width: 10%;
        
    }
    .headerUsers {
        display: flex;
        
        gap: 0px;
    
    }
    
   
    .categoryDropdown {
        max-width: 100%;
        border: solid gray 1px;
        box-shadow: #808080 1px 2px 3px;
        border-radius: 10px;
        position: absolute;
     z-index: 1000;
        
        backdrop-filter: blur(5px);
        background: linear-gradient(300deg, rgba(0, 0, 0, 0.274) 0%, rgba(14, 14, 14, 0.502) 74%, rgba(212, 167, 190, 0.753) 100%);
        margin-left: 160px;
        top:90px
    }
    
    .categoryDropdown::before {
        content: "";
        position: absolute;
        top: -20px; /* Adjust to control position */
        left: 25%;
        transform: translateX(-50%);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid rgb(115, 115, 115); /* Matches border color */
        
    }
    
    .categoryDropdown ul{
        padding: 30px;
    }
    .categoryDropdown ul li{
        list-style-type:none;
        padding: 10px;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        color: white;
    }
    .searchResults{
        margin-left: -20px;
        width: 50%;
    }
    .totalCarts{
  
        color: white;
         padding: 4px 7px 7px 7px;
         font-weight: 900;
         background-color: #e7a626;
         font-size: .8em;
         border-radius: 50%;
         position: absolute;
         font-family: 'Times New Roman', Times, serif;
         right:200px;
         width: 20px;
         height: 23px;
         text-align: center;
         left: 20px;
         top: -10px;
     }
    
}

@media screen and (max-width: 426px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .mobileHeader {
        display: flex;
        align-items: center;
        
        width: 121%;
        padding: 20px 0px; 
        background-color: #0e1012;
        gap: 0px; /* Adds spacing between elements */
        margin-left: -70px;
    }
   
    .mobileHeader .headerHamCategories{
        width: 10%;
      
       padding: 10px 0px 10px 0px;
        
    }
    .mobileHeader .headerLogo{
        width: 10%;
       
    }
    .mobileHeader .headerSearch{
        width: 25%;
        margin-left: 30px;
    }
    .headerSearch button {
        padding: 4px;
        border-radius: 50px;
        background-color: #e7a626;
        margin-left: -45px;
        border: none;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
    }
    .mobileHeader .headerUsers{
        width: 10%;
        
    }
    .mobileHeader .headerUsers {
        display: flex;
       margin-left: 10px;
        gap: 15px;
    
    }
    .mobileHeader .headerUsers div{
     
       padding: 0px;
    
    }
    
   
    .categoryDropdown {
        max-width: 100%;
        border: solid gray 1px;
        box-shadow: #808080 1px 2px 3px;
        border-radius: 10px;
        position: absolute;
     
        
        backdrop-filter: blur(5px);
        background: linear-gradient(300deg, rgba(0, 0, 0, 0.274) 0%, rgba(14, 14, 14, 0.502) 74%, rgba(212, 167, 190, 0.753) 100%);
        margin-left: -285px;
        top:90px
    }
    
    .categoryDropdown::before {
        content: "";
        position: absolute;
        top: -20px; /* Adjust to control position */
        left: 25%;
        transform: translateX(-50%);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid rgb(115, 115, 115); /* Matches border color */
        
    }
    
    .categoryDropdown ul{
        padding: 30px;
    }
    .categoryDropdown ul li{
        list-style-type:none;
        padding: 10px;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        color: white;
    }
    .searchResults{
        margin-left: -20px;
        width: 50%;
    }
    .totalCarts{
  
        color: white;
         padding: 4px 7px 7px 7px;
         font-weight: 900;
         background-color: #e7a626;
         font-size: .8em;
         border-radius: 50%;
         position: absolute;
         font-family: 'Times New Roman', Times, serif;
         right:200px;
         width: 20px;
         height: 23px;
         text-align: center;
         left: 20px;
         top: -10px;
     }
    
}





