.sectionAbout{
    background-color: black;
    
    
   
}
.sectionAbout .figure{
    background-image: url('../public/logo.png');
    height: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.section{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
   padding-top: 100px;
    background-color: black;
    padding-bottom: 200px;
  margin-bottom:-67px ;
 
}
.section>div{
    padding: 20px;
    border: solid var(--p-col) 1px;
    border-radius: 10px;
    margin-left: 10px;
 
}
.section p{
    color: white;
    font-size: 1.4em;
    margin-top: 20px;
    line-height: 35px;
}
.section h2{
    color: #E1D0EF;
    border-bottom: solid var(--p-col) 1px;
    width: 60%;
    padding-bottom: 10px;
}
@media screen and (max-width:450px) {
    .sectionAbout{
        background-color: black;
        
       
    }
    .sectionAbout .figure{
        background-image: url('../public/logo.png');
        height: 300px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
       padding-top: 100px;
        background-color: black;
        padding-bottom: 200px;
      margin-bottom:-67px ;
     
    }
    .section>div{
        padding: 20px;
        border: solid var(--p-col) 1px;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 20px;
     
    }
    .section p{
        color: white;
        font-size: 1.4em;
        margin-top: 20px;
        line-height: 35px;
    }
    .section h2{
        color: var(--p-col);
    }
}