.block {
  display: block;
}
.none {
  display: none;
}
.productItem{
    min-width: 260px !important;
    max-width: 350px !important;
    text-align: left;
}
.item {
  width: 100%;
  background-color: black;
  margin-top: 20px;
  border-radius: 0px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  overflow: hidden;
}
.item:hover {
  box-shadow: 1px 2px 8px rgba(91, 90, 90, 0.858);
}
.figure {
  position: relative; /* Important to contain absolutely positioned children */
  width: 100%;
  height: 325px; /* Fixed height for the image container */
  margin: 0 auto;
}

.figure img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  display: block;
}

.outOfStock {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 99, 71, 0.8); /* tomato with transparency */
  color: white;
  padding: 5px 10px;
  font-size: 0.75rem;
  border-radius: 12px;
  font-weight: bold;
  z-index: 2;
}
.discount {
  padding-top: 10px;
}
.itemBody {
  margin-top: 0px;
  padding: 20px;
}
.itemBody h3 {
  margin: -10px 0px 0px 0px;
  color: white;
  font-size: 15px;
}
.itemBody p {
  margin: 20px 0px 20px 0px;
  color: white;
}
.itemBody button {
  background-color: var(--s-col);
  padding: 7px;
  border: none;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
  cursor: pointer;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 14px;
}
.itemBody button:hover {
  background-color: var(--p-col);
  border: none;
}
.itemBody span {
  margin-left: 15px;
}
.itemBody span button {
  background-color: rgba(255, 68, 0, 0);
  padding: 7px;
  border: solid var(--s-col) 1px;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 14px;
}
.itemBody span button:hover {
  background-color: rgba(255, 68, 0, 0);
  border: solid var(--p-col) 1px;
}
.cartBtn {
  display: inline;
}
.cartBtnOne,
.cartBtnTwo,
.cartBtnThree {
  display: inline;
}
.cartBtnOne button {
  background-color: black;
  border-color: var(--p-col);
  border-radius: 0%;
}
.cartBtnTwo button {
  background-color: rgb(76, 52, 0);
  border-color: var(--p-col);
  border-radius: 0%;
}
.cartBtnThree button {
  background-color: black;
  border-color: var(--p-col);
  border-radius: 0%;
}
.trash {
  margin-top: 5%;
  cursor: pointer;
}
.qty {
  color: aliceblue;
}
.cart {
  background-color: var(--p-col);
  width: 10%;
  border-top-left-radius: 100px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 40px;
  margin-top: 10px;
  font-family: cursive;
  color: black;
}
@media screen and (max-width: 780px) {
  .productItem {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: black;
    border-radius: 10px;
  }
  .item {
    width: 100%;
    background-color: black;
    margin-top: 20px;
    border-radius: 10px;
  }
  .figure {
    width: 100%;

    margin-top: -19.5px;
  }
  .figure img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .itemBody {
    margin-top: 20px;
    padding: 20px;
  }
  .itemBody button {
    background-color: var(--s-col);
    padding: 10px 5px 10px 5px;
    border: none;
    border-radius: 1rem;
    color: white;
    font-weight: 900;
    cursor: pointer;
  }
  .itemBody button:hover {
    background-color: var(--p-col);
    padding: 10px 5px 10px 5px;
    border: none;
  }
  .itemBody span {
    margin-left: 20px;
  }
  .itemBody span button {
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 5px 10px 5px;
    border: solid var(--s-col) 1px;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
  }
  .itemBody span button:hover {
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 5px 10px 5px;
    border: solid var(--p-col) 1px;
    border-radius: 5px;
  }
  .cartBtn {
    display: inline;
  }
  .cartBtnOne,
  .cartBtnTwo,
  .cartBtnThree {
    display: inline;
  }
  .cartBtnOne button {
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
  }
  .cartBtnTwo button {
    background-color: rgb(76, 52, 0);
    border-color: var(--p-col);
    border-radius: 0%;
  }
  .cartBtnThree button {
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
  }
}
@media screen and (max-width: 425px) {
  .productItem {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: black;
    border-radius: 10px;
  }
  .item {
    width: 100%;
    background-color: black;

    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
      Noto Serif Light, Droid Serif, Georgia, "serif";
  }
  .item:hover {
    box-shadow: 1px 2px 8px rgba(91, 90, 90, 0.858);
  }
  .figure {
    width: 100%;
  }
  .figure img {
    width: 325px;
    height: 325px;
    margin-left: -0.5px;
  }

  .itemBody {
    margin-top: 0px;
    padding: 20px;
  }
  .itemBody h3 {
    margin: -10px 0px 0px 0px;
    color: white;
    font-size: 15px;
  }
  .itemBody p {
    margin: 20px 0px 20px 0px;
    color: white;
  }
  .itemBody button {
    background-color: var(--s-col);
    padding: 10px 5px 10px 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
      Noto Serif Light, Droid Serif, Georgia, "serif";
    font-size: 15px;
  }
  .itemBody button:hover {
    background-color: var(--p-col);
    padding: 10px 5px 10px 5px;
    border: none;
  }
  .itemBody span {
    margin-left: 20px;
  }
  .itemBody span button {
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 5px 10px 5px;
    border: solid var(--s-col) 1px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
      Noto Serif Light, Droid Serif, Georgia, "serif";
    font-size: 15px;
  }
  .itemBody span button:hover {
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 5px 10px 5px;
    border: solid var(--p-col) 1px;
    border-radius: 5px;
  }
  .cartBtn {
    display: inline;
  }
  .cartBtnOne,
  .cartBtnTwo,
  .cartBtnThree {
    display: inline;
  }
  .cartBtnOne button {
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
  }
  .cartBtnTwo button {
    background-color: rgb(76, 52, 0);
    border-color: var(--p-col);
    border-radius: 0%;
  }
  .cartBtnThree button {
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
  }
  .trash {
    margin-top: 5%;
    cursor: pointer;
  }
  .qty {
    color: aliceblue;
  }
  .cart {
    background-color: var(--p-col);
    width: 10%;
    border-top-left-radius: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 40px;
    margin-top: 10px;
    font-family: cursive;
    color: black;
  }
}
