.section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -120px;
}

/* Carousel Wrapper */
.carouselWrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    overflow: hidden;
   
}

/* Carousel Container */
.carouselContainer {
    width: 90%;
  
    white-space: nowrap;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

/* Post Card */
.postCard {
    display: block; /* Ensure <a> behaves like a block element */
    text-decoration: none;
    background: #fff;
    border-radius: 10px;
     
    text-align: center;
    min-width: 450px;
    
   margin-left: 20px;
    transition: transform 0.3s ease-in-out;
   
}

.postCard:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.postImage {
    width: 80%;
    height: auto;
    border-radius: 8px;
}

.postName {
    font-size: 1.2em;
     
    margin-top: 10px;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; /* Ensure text wraps */
    max-width: 100%; /* Prevents overflow */
    padding-left: 30px;
    padding-right: 30px;
}

/* Navigation Buttons */
.carouselBtns {
    display: flex;
    margin-left: 80%;
    gap: 10px;
    margin-bottom: 10px;
}

.carouselBtns button {
    width: 50px;  /* Set a fixed width */
    height: 50px; /* Set height equal to width */
    font-size: 1.3em;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    box-shadow: 2px 3px 10px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 3000;
    color: var(--s-col);
    font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria, Noto Serif Light, Droid Serif, Georgia, "serif";
    font-size: 16px;
}
.carouselBtns button:hover{
    background-color: rgba(128, 128, 128, 0.13);
}
