.list{
    list-style: none;
    list-style-type: none;
    width: 100%;
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4;

}
@media screen and (max-width:1028px) {
    .list{
        list-style: none;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: auto auto;
        width: 90%;
        gap: 10px;
      
    
    }
}
@media screen and (max-width:450px) {
    .list{
        list-style: none;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        width: 90%;
      
    
    }
}