.section{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
    padding: 60px;
}

.section .grid{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    grid-gap:20px;

}
.section .grid .gridItem2{
    grid-row: 1/2;
    grid-column: 1/3;
}
.section .grid .gridItem3{
    grid-row: 2/3;
    grid-column: 1/2;
}
.section .grid .gridItem4{
    grid-row: 2/3;
    grid-column: 2/3;
}
.section .article{
    margin-top: 40px;
    padding: 20px;
}
.section .article h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: green;
    font-size: 2em;
    margin-top:-80px
    
}
.section .article p{
   margin-top: 20px;
    font-size: 1.2em;
    
}
.section .article button{
    background-color: rgb(2, 2, 29);
    padding: 20px 20px 20px 20px;
    color: white;
    font-weight: 900;
    margin-top: 10px;
    
}
.section .article button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(13, 5, 57);
    transition: 300ms;
}
 
 
@media screen and (max-width:1028px) {
    .section{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin-left: 5%;
        padding: 0px;
        
    }
   .section img{
        width: 100%;
       
    }
    
    .section .grid{
        display: grid;
        grid-template-columns: auto auto auto;
        width: 50%;
        grid-gap:20px;
    
    }
    .section .grid .gridItem2{
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .section .grid .gridItem3{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .section .grid .gridItem4{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .section .article{
        margin-top: -10px;
        padding: 0px;
        width: 50%;
    }
    .section .article h3{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: green;
        font-size: 2em;
        margin-top: -40px;
        
    }
    .section .article p{
       margin-top: 20px;
        font-size: 1.2em;
        
    }
    .section .article button{
        background-color: rgb(2, 2, 29);
        padding: 20px 40px 20px 40px;
        color: white;
        font-weight: 900;
        margin-top: 20px;
    }
    .section .article button:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(13, 5, 57);
        transition: 300ms;
    }
    
}
 
@media screen and (max-width:450px) {
    .section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        margin-left: 5%;
        padding: 0px;
        
    }
   .section img{
        width: 100%;
       
    }
    
    .section .grid{
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
        
    
    }
    .section .grid .gridItem2{
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .section .grid .gridItem3{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .section .grid .gridItem4{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .section .article{
        margin-top: 20px;
        padding: 0px;
        width: 100%;
    }
    .section .article h3{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: green;
        font-size: 2em;
        margin-top: 20px;
        
    }
    .section .article p{
       margin-top: 20px;
        font-size: 1em;
        
    }
    .section .article button{
        background-color: rgb(2, 2, 29);
        padding: 20px 40px 20px 40px;
        color: white;
        font-weight: 900;
        margin-top: 20px;
    }
    .section .article button:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(13, 5, 57);
        transition: 300ms;
    }
    
}
 
@media screen and (max-width:375px) {
    .section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        margin-left: 5%;
        padding: 0px;
        
    }
   .section img{
        width: 100%;
       
    }
    
    .section .grid{
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
        
    
    }
    .section .grid .gridItem2{
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .section .grid .gridItem3{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .section .grid .gridItem4{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .section .article{
        margin-top: 20px;
        padding: 0px;
        width: 100%;
    }
    .section .article h3{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: green;
        font-size: 2em;
        
    }
    .section .article p{
       margin-top: 20px;
        font-size: 1em;
        
    }
    .section .article button{
        background-color: rgb(2, 2, 29);
        padding: 20px 40px 20px 40px;
        color: white;
        font-weight: 900;
        margin-top: 20px;
    }
    .section .article button:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(13, 5, 57);
        transition: 300ms;
    }
}