/* Carousel Wrapper */
.carouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

/* Carousel Container */
.carouselContainer {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: center;
  width: 94%;
  margin-left: 20px;
  padding: 10px;
  gap: 1rem;
  white-space: nowrap;
  scrollbar-width: none;
}

.carouselContainer::-webkit-scrollbar {
  display: none;
}

/* Product Card */
.productCard {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  min-width: 200px;
  max-width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin: 0 10px;
}

.productCard:hover {
  transform: scale(1.05);
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.productName {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

/* Navigation Buttons */
.carouselBtns {
  margin-left: 85%;
  display: flex;
  gap: 10px;
}
.carouselBtns button {
  width: 50px; /* Set a fixed width */
  height: 50px; /* Set height equal to width */
  font-size: 1.3em;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  box-shadow: 2px 3px 10px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in-out 3000;
  color: var(--s-col);
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 16px;
}
.carouselBtns button:hover {
  background-color: rgba(128, 128, 128, 0.13);
}
.block {
  display: block;
}
.none {
  display: none;
}

.productItem {
  max-width: 340px;
  width: 100%;
}

.item {
  width: 100%;
  background-color: black;
  margin-top: 20px;
  border-radius: 5px;
}
.figure {
  width: 100%;
  max-width: 340px;
  height: 100%;
  margin: 0px auto;
}
.figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.itemBody {
  margin-top: 0px;
  padding: 20px;
}
.itemBody h3 {
  margin: -10px 0px 0px 0px;
  color: white;
  font-size: 15px;
}
.itemBody p {
  margin: 20px 0px 20px 0px;
  color: white;
}
.itemBody button {
  background-color: var(--s-col);
  padding: 10px 5px 10px 5px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 15px;
}
.itemBody button:hover {
  background-color: var(--p-col);
  border: none;
}
.itemBody span {
  margin-left: 20px;
}
.itemBody button {
  background-color: var(--s-col);
  padding: 10px;
  border: none;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
  cursor: pointer;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 15px;
}
.itemBody button:hover {
  background-color: var(--p-col);
  border: none;
}
.itemBody span {
  margin-left: 20px;
}
.itemBody span button {
  background-color: rgba(255, 68, 0, 0);
  padding: 10px;
  border: solid var(--s-col) 1px;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 15px;
}
.itemBody span button:hover {
  background-color: rgba(255, 68, 0, 0);
  border: solid var(--p-col) 1px;
}
.cartBtn {
  display: inline;
}
.cartBtnOne,
.cartBtnTwo,
.cartBtnThree {
  display: inline;
}
.cartBtnOne button {
  background-color: black;
  border-color: var(--p-col);
  border-radius: 0%;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 15px;
}
.cartBtnTwo button {
  background-color: rgb(76, 52, 0);
  border-color: var(--p-col);
  border-radius: 0%;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 15px;
}
.cartBtnThree button {
  background-color: black;
  border-color: var(--p-col);
  border-radius: 0%;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 15px;
}
.trash {
  margin-top: 5%;
  cursor: pointer;
}
.qty {
  color: aliceblue;
}
.cart {
  background-color: var(--p-col);
  width: 10%;
  border-top-left-radius: 100px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 40px;
  margin-top: 10px;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 15px;
  color: rgb(246, 246, 246);
}
@media screen and (max-width: 780px) {
  .productItem {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: black;
    border-radius: 10px;
  }
  .item {
    width: 100%;
    background-color: black;
    margin-top: 20px;
    border-radius: 10px;
  }
  .figure {
    width: 100%;

    margin-top: -19.5px;
  }
  .figure img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .itemBody {
    margin-top: 20px;
    padding: 20px;
  }
  .itemBody button {
    background-color: var(--s-col);
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    cursor: pointer;
  }
  .itemBody button:hover {
    background-color: var(--p-col);
    padding: 10px 20px 10px 20px;
    border: none;
  }
  .itemBody span {
    margin-left: 20px;
  }
  .itemBody span button {
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 20px 10px 20px;
    border: solid var(--s-col) 1px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  .itemBody span button:hover {
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 20px 10px 20px;
    border: solid var(--p-col) 1px;
    border-radius: 5px;
  }
  .cartBtn {
    display: inline;
  }
  .cartBtnOne,
  .cartBtnTwo,
  .cartBtnThree {
    display: inline;
  }
  .cartBtnOne button {
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
  }
  .cartBtnTwo button {
    background-color: rgb(76, 52, 0);
    border-color: var(--p-col);
    border-radius: 0%;
  }
  .cartBtnThree button {
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
  }
}
@media screen and (max-width: 412px) {
  .carouselBtns {
    margin-left: 65%;
    display: flex;
    gap: 10px;
  }
  .carouselBtns button {
    width: 50px; /* Set a fixed width */
    height: 50px; /* Set height equal to width */
    font-size: 1.3em;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    box-shadow: 2px 3px 10px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 3000;
  }

  .productItem {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: black;
    border-radius: 10px;
    margin-left: 20px;
  }
  .item {
    width: 100%;
    background-color: black;
    margin-top: 20px;
    border-radius: 10px;
  }
  .figure {
    width: 100%;

    margin-top: -19.5px;
  }
  .figure img {
    width: 325px;
    height: 325px;
    margin-left: -0.5px;
    border-radius: 10px 10px 0px 0px;
  }
  .itemBody {
    margin-top: 20px;
    padding: 20px;
  }
  .itemBody button {
    background-color: var(--s-col);
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    cursor: pointer;
  }
  .itemBody button:hover {
    background-color: var(--p-col);
    padding: 10px 20px 10px 20px;
    border: none;
  }
  .itemBody span {
    margin-left: 20px;
  }
  .itemBody span button {
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 10px 10px 10px;
    border: solid var(--s-col) 1px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  .itemBody span button:hover {
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 20px 10px 20px;
    border: solid var(--p-col) 1px;
    border-radius: 5px;
  }
  .cartBtn {
    display: inline;
  }
  .cartBtnOne,
  .cartBtnTwo,
  .cartBtnThree {
    display: inline;
  }
  .cartBtnOne button {
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
  }
  .cartBtnTwo button {
    background-color: rgb(76, 52, 0);
    border-color: var(--p-col);
    border-radius: 0%;
  }
  .cartBtnThree button {
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
  }
}
@media screen and (max-width: 375px) {
  .productItem {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: black;
    border-radius: 10px;
  }
  .item {
    width: 100%;
    background-color: black;
    margin-top: 20px;
    border-radius: 10px;
  }
  .figure {
    width: 100%;

    margin-top: -19.5px;
  }
  .figure img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .itemBody {
    margin-top: 20px;
    padding: 20px;
  }
  .itemBody button {
    background-color: var(--s-col);
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    cursor: pointer;
  }
  .itemBody button:hover {
    background-color: var(--p-col);
    padding: 10px 20px 10px 20px;
    border: none;
  }
  .itemBody span {
    margin-left: 20px;
  }
  .itemBody span button {
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 10px 10px 10px;
    border: solid var(--s-col) 1px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  .itemBody span button:hover {
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 20px 10px 20px;
    border: solid var(--p-col) 1px;
    border-radius: 5px;
  }
  .cartBtn {
    display: inline;
  }
  .cartBtnOne,
  .cartBtnTwo,
  .cartBtnThree {
    display: inline;
  }
  .cartBtnOne button {
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
  }
  .cartBtnTwo button {
    background-color: rgb(76, 52, 0);
    border-color: var(--p-col);
    border-radius: 0%;
  }
  .cartBtnThree button {
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
  }
}
