.list{
    list-style: none;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    width: 100%;
    gap: 1rem;
    padding-inline: 3rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;

}
.list::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width:1200px) {
    .list{
        list-style: none;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: auto auto auto;
        width: 90%;
        gap: 10px;
      
    
    }
}
@media screen and (max-width:1028px) {
    .list{
        list-style: none;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: auto auto;
        width: 90%;
        gap: 10px;
      
    
    }
}
@media screen and (max-width:450px) {
    .list{
        list-style: none;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        width: 90%;
       
      
    
    }
}