.block{
    display: block;
}
.none{
    display: none;
}
.productItem{
    min-width: 260px;
    max-width: 400px;
}
.item{

     width: 100%;
    background-color: black;
    margin-top: 20px;
    border-radius: 5px;
    font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria, Noto Serif Light, Droid Serif, Georgia, "serif";
   
}
.figure{
    width: 100%;
    margin: 0px auto;
    
}
/* .figure img{
    width: 349.5px;
    height: 349.5px
    
    
} */
.figure img{
    aspect-ratio: 1/1;
    width: 100%;

}
.itemBody{
    margin-top: 0px;
    padding: 20px;
}
.itemBody h5 {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid gray;
    z-index: 10;
    font-size: 12px;
    border-radius: 5px; }
  
  .itemBody h3 {
    margin: -10px 0 0 0;
    color: white;
    font-size: 15px;
    cursor: pointer;
    position: relative;
  }
  
  /* Show h5 when hovering over h3 */
  .itemBody h3:hover + h5 {
    display: block;
  }
  

.itemBody p{
    margin: 10px 0px 10px 0px;
    color: rgb(234, 136, 24);
    ;
    font-size: 20px;
     margin:'10px 0px 0px 0px';
    
}

.itemBody button {
  background-color: var(--s-col);
  padding: 7px;
  border: none;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
  cursor: pointer;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 14px;
}
.itemBody button:hover {
  background-color: var(--p-col);
  border: none;
}
.itemBody span {
  margin-left: 15px;
}
.itemBody span button {
  background-color: rgba(255, 68, 0, 0);
  padding: 7px;
  border: solid var(--s-col) 1px;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria,
    Noto Serif Light, Droid Serif, Georgia, "serif";
  font-size: 14px;
}
.itemBody span button:hover {
  background-color: rgba(255, 68, 0, 0);
  border: solid var(--p-col) 1px;
}
.cartBtn{
    display: inline;
}
.cartBtnOne,.cartBtnTwo,.cartBtnThree{
    display: inline;
  
}
.cartBtnOne button{
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
    
    
}
.cartBtnTwo button{
    background-color: rgb(76, 52, 0);
    border-color: var(--p-col);
    border-radius: 0%;
   
}
.cartBtnThree button{
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
}
.trash{
    margin-top: 5%;
    cursor: pointer;
}
.qty{
    color: aliceblue;
}
.cart{
    background-color:var(--p-col);
    width: 10%;
    border-top-left-radius: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 40px;
   margin-top: 10px;
    color: black;
    
 
}
@media screen and (max-width:780px)  {
    .productItem{
       display: block;
         width: 100%;
         margin-top: 20px;
         background-color: black;
         border-radius: 10px;
       
         
        }
        .item{
 
    
     width: 100%;
    background-color: black;
    margin-top: 20px;
    border-radius: 10px;
}
        .figure{
    width: 100%;
  
   margin-top: -19.5px;
}
        .figure img{
            width: 100%;
 border-radius: 10px 10px 0px 0px;
        }
        .itemBody{
    margin-top: 20px;
    padding: 20px;
}
.itemBody button{
    background-color: var(--s-col);
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
.itemBody button:hover{
    background-color: var(--p-col);
    padding: 10px 20px 10px 20px;
    border: none;
     
}
.itemBody span{
    margin-left: 20px;
}
.itemBody span button{
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 20px 10px 20px;
    border:solid  var(--s-col) 1px;
    border-radius: 5px;
    cursor:pointer;
    color: white;
}
.itemBody span button:hover{
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 20px 10px 20px;
    border:solid  var(--p-col) 1px;
    border-radius: 5px;
     
}
.cartBtn{
    display: inline;
}
.cartBtnOne,.cartBtnTwo,.cartBtnThree{
    display: inline;
  
}
.cartBtnOne button{
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
    
}
.cartBtnTwo button{
    background-color: rgb(76, 52, 0);
    border-color: var(--p-col);
    border-radius: 0%;
   
}
.cartBtnThree button{
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
}
         
}
@media screen and (max-width:412px)  {
    .productItem{
       display: block;
         width: 100%;
         margin-top: 20px;
         background-color: black;
         border-radius: 10px;
       
         
        }
        .item{
 
    
     width: 100%;
    background-color: black;
    margin-top: 20px;
    border-radius: 10px;
}
        .figure{
    width: 100%;
  
   margin-top: -19.5px;
}
        .figure img{
            width: 325px;
            height: 325px;
            margin-left: -0.5px;
 border-radius: 10px 10px 0px 0px;
        }
       
        .itemBody{
    margin-top: 20px;
    padding: 20px;
}
.itemBody button{
    background-color: var(--s-col);
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
.itemBody button:hover{
    background-color: var(--p-col);
    padding: 10px 20px 10px 20px;
    border: none;
     
}
.itemBody span{
    margin-left: 20px;
}
.itemBody span button{
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 10px 10px 10px;
    border:solid  var(--s-col) 1px;
    border-radius: 5px;
    cursor:pointer;
    color: white;
}
.itemBody span button:hover{
    background-color: rgba(255, 68, 0, 0);
    padding: 10px 20px 10px 20px;
    border:solid  var(--p-col) 1px;
    border-radius: 5px;
     
}
.cartBtn{
    display: inline;
}
.cartBtnOne,.cartBtnTwo,.cartBtnThree{
    display: inline;
  
}
.cartBtnOne button{
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
    
}
.cartBtnTwo button{
    background-color: rgb(76, 52, 0);
    border-color: var(--p-col);
    border-radius: 0%;
   
}
.cartBtnThree button{
    background-color: black;
    border-color: var(--p-col);
    border-radius: 0%;
}
         
}

 
  