.carouselContainer {
    
    width: 94%;
    display: flex;
    align-items: center;
    overflow: hidden;
    
   
    margin-left: 50px;
    margin-right: 50px;
   
  }
  
   
  
  
  
  .carousel {
    display: flex;
    gap: 1rem;
     width: 100%;
  
   
  }
  
 
  
  .productCard {
    width: 400px;
    
     cursor: pointer;
    background-color: white;
     
    border-radius: 8px;
    transition: ease-in-out 300ms;
  ;
  
  }
  .productCard p{
    font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria, Noto Serif Light, Droid Serif, Georgia, "serif";
    color: rgb(0, 0, 0);
    font-size: 15px;
  }
  .productCard:hover {
    
    box-shadow: 0px 0px 20px rgba(91, 90, 90, 0.858);

     
    
  
  }
  
  .productImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .productName {
    margin-top: 0.5rem;
    font-weight: 600;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-family: 1.3em;
    text-align: center;
  }
  @media screen and (max-width: 450px) {
    .carouselContainer {
    
      width: 125%;
      
      align-items: center;
      overflow: hidden;
      padding: 0 1.5rem;
      margin-left: -45px;
    }
    
     
    
    
    
    .carousel {
      display: grid;
      grid-template-columns: auto auto;
      gap: 40px;
       width: 100%;
      padding: 0 3rem;
    }
    
   
    
    .productCard {
      width: 100%;
       cursor: pointer;
      background-color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      transition: ease-in-out 300ms;
    
    }
    .productCard:hover {
      
      box-shadow: 0px 0px 20px rgba(91, 90, 90, 0.858);
  
       
      
    
    }
    
    .productImage {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
    
    .productName {
      margin-top: 0.5rem;
      font-weight: 600;
      padding-left: 10px;
      font-family: 'Times New Roman', Times, serif;
    }
}